# Introduction to Scientific Programming in Python

Created by Vahid Rostami. Accessed via Social ComQuant project https://socialcomquant.ku.edu.tr/,

and revised by M.Fuat Kına.



```
# This is formatted as code
```

Python is a modern, powerful, dynamic programming language. It has simple and consice syntaxes which are easy to learn but very effective for object-oriented programming. The Python interpreter and various advanced libraries are all available free and open-source. Specifically many useful libraries developed by statisticians and computer scientists make Python an ideal programming language for data analysis.  

---

This introductory notebook will walk you through the basic fields of python (or any other language) programming.  
Walk through them sequentially and solve the exercises :
1. **Printing to the screen**
1. **Variables**
1. **Lists**
1. **Strings**
1. **Dictionaries**
1. **Operators**
1. **If statement and loops**
1. **Functions**
1. **Files**

## Printing to the screen

Let's start talking to Python! Imagine we wanna ask Python to print a message on the screen. How do we do that? Here is a line of code to tell Python to print Hello World!

print('Hello World')

`print()` is a function which tells Python that we wanna print something (something will be whatever we put between the parentheses which is called _arguments_).

Now if we set up our Python enviroment, type the line above in our favourite text editor and run it, Python will print "Hello World" for us.

In [ ]:
print("Hello World")

As soon as we start writing a code in the Python editor we need to use comments to annotate our code. Comments are super important and useful when we write a code. Comment lines start with a hash symbol (#). In this way Python knows what are the executable lines (lines without hash symbol) and what are comment lines (lines with hash symbol). All in all one could think of comments as the lines who talk to humans (to you or whoever that reads your code later) while other lines talk to Python!

In [ ]:
# example comment, Python will ignore this line
print("Hello World")

Note that `print()` have some default "separator" and "ending" arguments. Python allows us to modify those by `sep=` and `end=` methods.

Defaults are as follows: `sep=" "` and `end="\n"`

`"\n"`

In [ ]:
print("Hello", end="\n\n\n")
print("World")

In [ ]:
print("Hello", "World", sep=" ")

In [ ]:
print("Hello", "World", sep="!")

In [ ]:
print("Hello")
print("World")

In [ ]:
print("Hello", end="\n")
print("World")

In [ ]:
print("Hello", end="\n\n\n")
print("World")

In [ ]:
print("Hello", end=" ")
print("World", end="!")

## Variables

Variables are basically reserved memory locations to (temporarily) store information. They enable you to store a value in your computer's memory and retrieve that value later.

### Defining a variable: assigning values to variables

To define a variable you write an assignment:

In [ ]:
my_variable_integer = 100        # An integer assignment
my_variable_float = 1000.0       # A floating point
my_variable_string = "John"      # A string

The name of the varaible in on the left hand side of an equal sign (=). The operand on the right hand side of the equal sign (=) must be some expression that the interpreter can make sense of. 
An assignment should be seen as my_variable_integer <-- 100 rather than in the mathematical sense. This means that by assigning a value to a variable you move that value (here 100) into the memory location to which you give the name variable (here my_variable_integer).

In [ ]:
print(my_variable_integer)
print(my_variable_float)
print(my_variable_string)

### Standard variable classes

Each variable can belong to one of the predefined classes. By defining a variable you tell the Python interpreter what kind of variable it is: an integer, a string, etc. In the example above we defined 3 types of variables: an integer, a float and a string. You can check the variable type, i.e. in which class they belong, by executing the following statement:

In [ ]:
print(type(my_variable_float))

| Class  | Example
|------|------
|   bool  |  True
|   int  | 5
|   float | 5.27836532
|   string | 'Hello World'

### Name of a variable

Variable names must begin with a letter, which may be followed by any combination of letters, digits, and underscores. Python distinguishes	 between uppercase and lowercase characters, so “A” and “a” are	not the same variable.

In [ ]:
# Example 1
x = 10
y = 12.5
z = x*y 
print(z)

In [ ]:
# Example 2
number_of_students = 30
number_of_teachers = 12
number_of_students_and_teachers = number_of_students + number_of_teachers
print(number_of_students_and_teachers)

Readability is very important when we choose a name for a variable. Which one is easier to guess? I hope your answer is example 2!

Advice: Do not use the lowercase letter ‘l’, uppercase ‘O’, and uppercase ‘I’. Why? Because the l and the I look a lot like each other and the number 1. And O looks a lot like 0.

### Reserved names in Python

Among infinite possible choices of the variable names in Python, there are few which are reserved for Python.

|Do|not|use|these|variable|names|in|Python
|--|--|--|--|--|--|--|--
|and|assert| break|exec| not| lambda|yield|with
|while|try| raise|print| pass| or| is| win
|import| if| global| from| for| finally|else|elif
|del|def|continue|class|return| True|False|except

### Exercises (Variables)
Create a string, a float and an integer :  
The string should be named  _mystring_ and should contain the word "LovePython".  
The float should be named _myfloat_  and should contain the value 6.0.   
The integer should be named _myint_ and should contain the value 4.

In [ ]:
# change this code
mystring = "LovePython"
myfloat = 6.0
myint = 4

# testing code
if mystring == "LovePython":
    print("String: %s" % mystring)

In [ ]:
my_name = "Fuat"
print("Let's talk about %s." % my_name)

my_height = 1.78
print("He's", my_height, "meters tall")

my_weight = 71
print("He's %i kg heavy." % my_weight)

## Lists

Python offers different datatypes. List is one of the most frequently used datatypes in Python. List is a collections of *values* and is denoted by square brackets "[]". The values in a list may be of different types (integer, float, string etc.) and are separated by a comma ",".  
Here are some examples:

In [ ]:
# empty list
my_list = []

# list of integers
my_list = [2, 5, 8, 9]

# list of strings
my_list = ['Monday', 'Tuesday', 'Wednesday', 8, 9]

On the list we can perform different operations such as accessing individual elements of the list, removing/adding elements from/to the list. When we have a list of numbers we can do all sorts of mathematical operations (e.g. multiplication, division, substraction) on the list. 

Note that each individual element in the list can be accessed using the index of that element. For example in the *my_list* the index of 'Monday' is 0: my_list[0] = 'Monday' and so on.   
We can also access a group of elements by defining the range of indeces, for example my_list[0:2] = ['Monday', 'Tuesday']

### Operations on Lists

In [ ]:
# Declare a list of prime number
primes = [2,3,5,7,9,11]

In [ ]:
# Check the type of the varibale
type(primes)

In [ ]:
# See the content of a list
print(primes)

In [ ]:
# Check the length of a list
len(primes)

In [ ]:
# Access one element
primes[5]

In [ ]:
# Modify an element
primes[5] = 13 
primes

In [ ]:
# Add an element at the end of the list
primes.append(17)
primes

In [ ]:
# Deleting an element
del primes[6]
primes

In [ ]:
primes_copy = primes

# add one elementt to primes
primes_copy.append(19)

print('primes:', primes, ', primes_copy:', primes_copy)

SLOW DOWN! What just happend?! 

This way of copying a list gives only a shallow copy which is a new name to the same set of elements. For example: If David_Lynch is a list, "Best_Director = David_Lynch" makes a shallow copy of David_Lynch, and now if we manipulate Best_Director we will manipulate David_Lynch as well!


To do it in a righ way:

In [ ]:
primes_copy = primes.copy()

# add one elementt to primes
primes_copy.append(23)
print('primes:', primes, ', primes_copy:', primes_copy)

A few more useful list methods:

insert, extend, index, remove, sort, reverse, pop, ...

In [ ]:
my_list = ['red', 'blue', 'yellow']

## insert 'black' at index 0 
my_list.insert(0, 'black')
## add list of elems at end

new_list = ['gray', 'orange']

my_list.extend(new_list)
print(my_list)

### Exercises (Lists)

1- Write a Python program to sum all the items in a list.

x=[1,2,3,18,35]

2- Write a Python program to get the largest and the smallest number from a list.

3- Create a list of integer nember less than 10 and call it `a`.


## Strings

Strings in Python are surounded by either single or double quotation marks, e.g. a = "We Love Python!". Strings are in fact lists of charachters which are _immutable_ (in contrast to a list which is _mutable_).

In [ ]:
a = "We Love Python!"

In [ ]:
len(a)

In Python there are numerous built-in functions to apply on strings. For example the _split_ function breaks the string into a list of single parts based on a specified separator.

In [ ]:
# Example: split the variable a to 3 words
print(a.split(' '))

In [ ]:
# Example: append a string to another string
a = "We Love Python!"
b= "Python Loves Us!"
c = a + " & " + b
print(c)

In [ ]:
len(a)

### Slicing and Indexing

In previous examples we have used indexing and slicing. Here we want to emphasize the importance of these two methods in Python and give a more comprehensive explanation of them. 

Indexing refers to the operation of accessing a particular element of an array, list, string, etc. For example let's go back to our variable a again. All the characters in the variable a have a different index as follows:

|variable a |W|e|' '|L|o|v|e|' '|P|y|t|h|o|n|!
|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--
|Index|0|1|2|3|4|5|6|7|8|9|10|11|12|13|14

As you see in the table above, each character has one index. For example the charachter '!' has the index 14. we can access then this charachter as follows:

In [ ]:
# Example: access the character "!" in the variable a
print(a[14])

In Python we can also use negative index numbers. Intuitively, negative indexing is a backward counting (as opposed to the positive indexing which is the forward counting). This is usually helpful when we have a long string (or list, array, etc.) and we want to pinpoint an element towards the end.

|variable a |W|e|' '|L|o|v|e|' '|P|y|t|h|o|n|!
|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--|--
|Index |-15|-14|-13|-12|-11|-10|-9|-8|-7|-6|-5|-4|-3|-2|-1|

In [ ]:
# Example: access the character "!" in the variable a
print(a[-1])

Slicing is the calling of a range of characters from the string (or list, array, etc.). For example we would like to extract the "Love" part from the variable a:

In [ ]:
# Example: print only "Love" part of the variable a
a = "We Love Python!"
print(a[3:7])

We can also slice from a specific index to the end or from the beginning to the specific index as follows:

In [ ]:
# Example: slice the variable a from index 3 to the end
print(a[3:])

In [ ]:
# Example: slice the variable a from the beginning till the index 7
print(a[:7])

We can also access the characters with a specified stride. For example:

In [ ]:
# Example: acess every third charachter
print(a[0:14:3])

In general if we have an index such as `[a:b:c]`, `a` defines the beginning, `b` defines the end, and `c` defines the step. In the example above since we are printing the whole string we can omit the two index numbers and keep the two colons within the syntax to achieve the same result:

In [ ]:
# Example: acess every third charachter
print(a[::3])

## Dictionaries

In previous sections we learned about Python Lists and how powerful they are. In this section we learn another data type in Python called *dictionary*. Dictionaries and their powerful implementations are part of what makes Python so effective and superior. Like lists they can be easily changed, can be shrunk and grown at runtime. They shrink and grow without the necessity of making copies. Dictionaries can be contained in lists and vice versa.

A dictionary can be defined by enclosing a comma-separated list of key-value pairs in curly braces ({}). A colon (:) separates each key from its associated value:

```
dic = {
            <key1>:<value1>,
            <key2>:<value2>,
            .
            .
            .
            <keyn>:<valuen>
            }
```

For example:

In [ ]:
Movie = {
  "name": "Twin Peaks",
  "director": "David Lynch",
  "year": 1990
}

In [ ]:
Movie.update?

Similar to different methods that we learnt to access or modify elements in a List there are methods to modify or access keys and items in a *dictionary* as well. To access the elements in the *dictionary* we can use *item()* or *keys()*. Here are some examples:

In [ ]:
# keys() return all the keys in the dictionary
print('all the keys in the Movie dictionary:', Movie.keys())
# items() returns a list of tuple pairs (Keys, Value) in the dictionary
print('all the items in the Movie dictionary:', Movie.items())

Other examples of methods to modify a dictionary include *get()*, *copy()*, *update()*, *pop()*, etc.

Do the following exercises using these methods to understand them better.

### Exercises (dictionaries)

1- Use the `get` method to print the value of the "name" of the Movie dictionary.

2- Change the year from 1990 to "1991".

3- Add the key/value pair "genre" : "mystery/drama/horror" to the Movie dictionary.

4- Use the pop method to remove "genre" from the Movie dictionary and return it to the screen.

### Sets and Tuples

In addition to dictionaries and lists, there exist two more data types in python: sets and tuples.

* Tuples are used to store multiple items in a single variable. A tuple is a collection which is ordered and unchangeable.

* However, sets are unordered. Set elements are unique. Duplicate elements are not allowed.

In [ ]:
sample_set = set((3,4,5,6))

In [ ]:
sample_set = {3,4,5,6}

In [ ]:
type(sample_set)

In [ ]:
x = [0,3,7,3,7,4,4,5]

x = set(x)

In [ ]:
x

In [ ]:
string = "Learning Python is very easy!"

print(list(string))
print(set(string))

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

## Operators

Python supports many different types of operators such as: Arithmetic operators, Logical operators, Comparison operators, etc. Let's clarify what an operator is with an example. In the *expression* `"12*7"`, `'*'` is the *operator* and `'12'` and `'7'` are *operands*. Below we discuss some of these operators that are specifically important for data analysis.

### Arithmetic operators

As the name suggests, arithmetic operators in Python work with numbers and make all the traditional algebraic operations easily accessible.

|Operator| Description| Example
|---|-|-
| + Addition | Adds values| a + b
| - Substraction | Substracts right hand operand from left hand operand | a - b
| * Multiplication | Multiplies values | a * b
| / Division | Divides left hand operand by a right hand operand | a / b
| ** Power | Power calculation | a ** 2 
| % Modulus |  Returns the remainder of division of  left hand operand to right hand operand| a % b  
| // Floor division |  Divides and rounds down to nearest whole number| a // b

In [ ]:
10//3

In [ ]:
10%3

In [ ]:
x = 10
y = (x//3)*3+(x%3)
print(y)

### Logical operators

Logical operators are part of Boolean algebra and work with two values, either `True` (1) or `False` (0).

|Operator | Description | Example
|----|-|-
| not | reverses the logical state | ""`not a = False`" if a = True 
| and| expression is true if and only if all of its operands are true | "`a and b =True`" if a = True and b = True
|or| expression is true if and only if one or more of its operands is true | "`a or b =True`" if a = True or b = True

### Comparison operators

Comparison operators are used to compare values. The outcome of comparison operators is either `True` or `False`.

|Operator|Description|Example|
|---|-|-|
|< | less than | a < b|
|<= | less or equal | a <= b|
|>| greater than | a > b|
|>=| greater or equal | a >= b|
| == | equal | a == b|
|!=| not equal| a != b|

We often use logic operators quite naturally, although we don’t realize it. E.g. if we say verbally “give me the results for all animals that were equal to or younger than 2 weeks”, than we can translate this in a code: r2 = r(age<=2) assuming that ‘age’ is an array that contains the age information in weeks for all animals and r contains the results for all animals.

In [ ]:
a = 6
b = 7
c = 42
print(1, a == 6)
print(2, a == 7)
print(3, a == 6 and b == 7)
print(4, a == 7 and b == 7)
print(5, not a == 7 and b == 7)
print(6, a == 7 or b == 7)
print(7, a == 7 or b == 6)
print(8, not (a == 7 and b == 6))
print(9, not a == 7 and b == 6)

## If statement and loops

### If statement

In conditional statements we use a logical outcome to decide how to proceed. Consider the following lines of code where we check whether the value stored in the variable r is larger than a threshold value. Depending on the outcome we can proceed with different actions i.e. we condition the next steps of our program on the value of the variable ‘r’.

In [ ]:
r = 2.4
if r > 2.4:
    event = 1    
elif r == 2.4:
    event = 2
else:
    event = 0
print('event is ', event)

The basic form of an if-statement is as follows:

```
if condition:
    statement1 # will be done if condition is True
else:
    statement2 # will be done if condition is False

```

**Note** Make sure to always put " : " after `condition` and `else`.

### Loops

It often happens that you want to repeat the same analysis repetitively. For example you have different datasets and you want to do the analysis X on each of them. One way to do that is by using the `for` statement. Here is the basic syntax for doing that:

```
for variable_name in list_of_variable_name: # initial a loop
    statement  # body
```

For example write a code to print the square of all the integers between `1` and `9`.

In [ ]:
x = [1,2,3]

for i in x:
    print(i)

In [ ]:
for i in range(1,10,1):
    print('square of ',i, ' is ', i**2)

The built-in `range(start_value, stop_value, step)` statement returns a list of increasing or decreasing numbers.

In [ ]:
for i in range(10):
    print('square of ',i, ' is ', i*i)

In [ ]:
my_list = [0,3,5,4,2,7]

for i in range(len(my_list)):
    j = my_list[i]
    print('square of ',j, ' is ', j*j)

### Exercises (If statement and Loops)

1- Write a Python program to count the number of even and odd numbers from a series of numbers.
```
sample_list = [2, 3, 4, 5, 8, 2, 9]
```

2- Write a Python program to get the Fibonacci series between 0 to 50.

hint: The Fibonacci Sequence is the series of numbers :
0, 1, 1, 2, 3, 5, 8, 13, 21, .... 
Every next number is found by adding up the two numbers before it.

3- Note these are the "list" exercises. Solve these, by using if statements and loops:

3.a. Write a Python program to sum all the items in a list.

3.b. Write a Python program to get the largest and the smallest number from a list.

3.c. Create a list of integer nember less than 10 and call it `a`.

### While loop

In [ ]:
i = 0
while i<5:
    i=i+1
    print(10*i)

## Inputs

In [ ]:
print("How old are you?") 
age = float(input()) #What if we don't include float function
print ("How tall are you?")
height = float(input())
print ("How much do you weigh?")
weight = float(input())

print ("So, you're %f old, %f tall and %f heavy." % (age, height, weight))

## Functions

Function is a piece of code written for a specified task. For example writing a function which calculates the mean of a bunch of values. Functions are very helpful in programming because they can be written once and be used infinite times. Learning how to write an efficient function makes programming like playing lego; For solving any complicated problem we need to break it down to pieces and write a function for each piece. At the end putting these functions together like legos gives us the solution to the problem.

Here is an example of a Python function:

In [ ]:
def greeting(name):
    output = 'Hello ' + name
    return output
print(greeting('aksfdjasşlkdf'))

In [ ]:
def greeting(name): # function header
    # docstring: explanation of what function is about. for example here:
    """Returns a greeting 
    given a name."""
    #----- body of the function -------#
    message = "Hello lovely " + name + ".\n"
    message = message + "You are the best!"
    #----------------------------------#
    return message # return statement

print(greeting('Fuat'))

- Function header

Function begins with the keyword **def** followed by the function name and the inputs (or arguments) of the function. In the example above, the name of the function is *greeting* and the function argument is *name*.

- Function docstring

Function docstring is used to explain what the function does. The convention is to use """triple double quotes""" around docstrings.

- Function body

Function body consists of what the function is supposed to do. It gets executed every time the function is called.

- Return statement

Return exits a function, optionally passing back an expression to the caller. A return statement with no arguments is the same as return None.

**Example** Write a function which takes two inputs 'a' and 'b' and return the sum of a and b.

In [ ]:
def sum_two_number(a,b):
    """Returns sum of two values"""
    return a + b

print(sum_two_number(3,5))

### Exercises (Functions)

1- Write a Python function to find the Max of three numbers.

hint: first write a function to find the Max of two number. Then use this function to find the Max of three numbers.

2- Write a Python function to multiply all the numbers in a list.

hint: use a for loop
```
sample_list = [8, 2, 3, -1, 7]
```

3- Write a Python function that takes a list and returns a new list with unique elements of the first list.

hint1: use for loop and if statement together.

hint2: count() method counts a specific element in a list. 


```
sample_list : [1,1,3,3,3,3,4,4,4,5,7,7,7]
unique_list : [1, 3, 4, 5, 7]
```

In [ ]:
def unique(x):
    return list(set(x))

sample_list = [1,1,3,3,3,3,4,4,4,5,7,7,7]

print(unique(sample_list))

In [3]:
def unique(x):
    
    dynamic_list = x.copy()
    unique_list = []
    
    for i in x:
        if dynamic_list.count(i) > 1:
            dynamic_list.remove(i)
            
        else:
            unique_list.append(i)
    return unique_list

sample_list = [1,1,3,3,3,3,4,4,4,5,7,7,7]

print(unique(sample_list))

[1, 3, 4, 5, 7]

In [9]:
def unique(x):
    unique_list = []
    for i in x:
        if i not in unique_list:
            unique_list.append(i)
            
    return unique_list
sample_list = [1,1,3,3,3,3,4,4,4,5,7,7,7]

print(unique(sample_list))

[1, 3, 4, 5, 7]

In [7]:
sample_list = [1,1,3,3,3,3,4,4,4,5,7,7,7]

def unique(x):
    unique_list = []
    
    for i in x:
        unique_list.append(i)
        if unique_list.count(i) > 1:
            unique_list.remove(i)
        else:
            continue
            
    return unique_list
    
print(unique(sample_list))

[1, 3, 4, 5, 7]

4- Write a Python function that takes a number as a parameter and check the number is prime or not.

hint: a prime number (or a prime) is a natural number greater than 1 and that has no positive divisors other than 1 and itself.

In [13]:
def is_prime(x):
    is_prime = True

    if x == 1:
        is_prime = False
    else:
        for i in range(2,x):
            if x%i == 0:
                is_prime = False
                break
                
    return is_prime

print(is_prime(14))

False

## Files

It is quite handy in Python to read and write files. Let's see how it works through an example:

In [14]:
# define the file name
filename = 'example.txt' 
# create and open the file to modify. 'w' stands for writing mode.
f = open(filename, 'w')
# write in the open file f
f.write("6 words story:\n")
f.write("For sale: baby shoes, never worn.")
# close the file
f.close()

Running the example above, we create a file named "example.txt". This file includes two lines text. The first line is `6 words story` and the second line is `'For sale: baby shoes, never worn.'`.

Now let's read the file that we just created:

In [15]:
# define the file name
filename = 'example.txt' 
# open the file to read. 'r' stands for reading mode.
f = open(filename, 'r')
# read the content of the file
data = f.read()
# close the file
f.close()

In [16]:
print(data)

6 words story:
For sale: baby shoes, never worn.

In [17]:
len(data)

48

In [18]:
# create a list where each element is one line of our file
data.splitlines()

['6 words story:', 'For sale: baby shoes, never worn.']

- count the number of words in the second line (is it really 6 words?)

In [22]:
# defining the second line as a new variable
second_line = data.splitlines()[1]
print(second_line)

For sale: baby shoes, never worn.

In [23]:
# separate all the words
words_second_line = second_line.split(' ')
print(words_second_line)
# print the number of words
print(len(words_second_line))

['For', 'sale:', 'baby', 'shoes,', 'never', 'worn.']
6